<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Minionsss</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, laborum consectetur eius fuga itaque ea velit sapiente expedita, fugit, similique voluptatem iste dolore mollitia consequuntur dicta aut harum ipsa exercitationem!
      Nisi eius quis ipsam optio quas architecto cum id quam veniam doloribus laudantium, vel, earum magni. Ipsam aliquid inventore provident sit cumque unde ut? Tempore dignissimos magni incidunt eos omnis.
      Asperiores repudiandae rem doloribus officiis. Accusantium necessitatibus laboriosam, nisi, quae, iusto voluptas assumenda modi fugiat consequatur explicabo unde. Aliquid exercitationem fugit recusandae eaque, tenetur eius ipsum repellat autem dicta sed.</p>
      <h2>BANANAAA</h2>
    </div>
  </div>
